*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --lightgrey: lightgrey;
    --transparentgrey: #00000073;
    --darktheme: rgb(1, 122, 78);
    --bg: rgb(255, 253, 250);
    --blue: rgb(39, 119, 165);
    --red: rgb(158, 63, 60);
}

html {
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
}

body {
    padding: 20vh 0;
    background: var(--bg);
}

main {
    width: 100%;
    padding: 0 20vw;
}

.invisible {
    display: none;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

h2 {
    margin-top: 3rem;
}

a {
    color: var(--darktheme);
}

.yes { color: var(--darktheme) }
.no { color: var(--red) }

.spacer {
    width: 100%;
    height: 4rem;
}

.table {
    margin-bottom: 1.5rem;
}

.table * {
    margin: 0;
}

.table-head {
    font-weight: bold;
}

.table-head.table-row {
    padding: 1.5rem 0;
}

.table-row {
    border-bottom: 1px solid var(--lightgrey);
}

.table-row span:not(.custom-toggle) {
    padding: 1.5rem 0;
}

.services-table-row span:not(.custom-toggle) {
    padding: 1.5rem;
}

.table-row {
    display: grid;
    grid-template-columns: 1fr 8ch;
}

.table-row span:nth-child(1) {
    text-overflow: ellipsis;
    overflow: hidden;
}

.table-center-data {
    margin: 0 auto;
    white-space: nowrap;
}

.table-hidden-row.disabled summary span:nth-child(1) {
    color: var(--lightgrey);
    text-decoration: line-through;
}

.table-hidden-row summary span:nth-child(1):not(.hover-reveal):after {
    opacity: 1;
    font-weight: bold;
    margin-left: 1ch;
}

.table-hidden-row.not-tolerable summary span:nth-child(1):after {
    content: 'NOT TOLERABLE';
    color: var(--red);
}

.table-hidden-row.tolerable summary span:nth-child(1):after {
    content: 'TOLERABLE';
    color: var(--darktheme);
}

.table-hidden-row.tolerated summary span:nth-child(1):after {
    content: 'TOLERATED';
    color: var(--blue);
}

@media  (max-width: 1000px) {
    h1 {
        font-size: 2.25rem;
    }
    
    .table-hidden-row summary span:nth-child(1):after {
        display: none;
        opacity: 0;
    }

    .table-hidden-row summary span:nth-child(1):before {
        margin-right: 1ch;
        font-weight: bold;
    }

    .table-hidden-row.not-tolerable summary span:nth-child(1):before {
        content: '✕';
        color: var(--red);
    }
    
    .table-hidden-row.tolerable summary span:nth-child(1):before {
        content: 'OK';
        color: var(--darktheme);
    }
    
    .table-hidden-row.tolerated summary span:nth-child(1):before {
        content: '—';
        color: var(--blue);
    }
}

.table-hidden-row summary:hover {
    cursor: pointer;
}

.table-hidden-row .hover-reveal {
    position: relative;
}

.table-hidden-row .hover-reveal:before {
    content: attr(data-reveal);
    position: absolute;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    left: 4px;
    bottom: 4px;
    border-radius: 4px;
    border: 1px solid var(--darktheme);
    opacity: 1;
    background: white;
    z-index: -1;
    transition: 0.1s ease-in;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    padding-right: 1.5rem;
    color: var(--darktheme);
}

.table-hidden-row .hover-reveal:hover:before {
    box-shadow: 0px 0px 0px 2px var(--darktheme);
}

.expanded-details {
    margin-top: 1.5rem;
    display: flex;
    flex-flow: row wrap;
}

.expanded-details label {
    margin-bottom: 1.5rem;
    margin-right: 32px;
    position: relative;
}

.risk-edit label {
    position: relative;
}

.risk-factor-edit label {
    position: relative;
}

.modal label {
    position: relative;
}

.table-hidden-row h4 {
    margin-top: 16px;
}

.table-hidden-row[data-service] h4 {
    margin-top: calc(1.5rem + 16px);
}

.table-hidden-row form {
    padding: 1.5rem 0;
    display: flex;
    flex-flow: column;
    border-bottom: 1px solid var(--lightgrey);
}

.table-hidden-row form .inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
}

label > input.labelled-input {
    margin-top: 0.25rem;
}

.table-hidden-row form .buttons {
    margin-top: 1.5rem;
    text-align: right;
}

.table-hidden-row form .buttons button {
    margin-left: 16px;
}

label {
    display: flex;
    flex-flow: column;
    font-size: 0.75rem;
}

input {
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid var(--darktheme);
    box-shadow: inset 0px 0px 0px 0px var(--darktheme);
    transition: 0.1s ease-in;
}

input:focus, input:focus-visible {
    outline: none;
    box-shadow: inset 0px 0px 0px 2px var(--darktheme);
}

span.tooltip {
    position: relative;
}

span.tooltip:hover {
    cursor: pointer;
}

span.tooltip:after {
    content: attr(data-tip);
    position: absolute;
    opacity: 0;
    pointer-events: none;
    top: calc(-1.75rem - 8px);
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border: 1px solid var(--darktheme);
    border-radius: 2px;
    transition: 0.1s ease-in;
    padding: 8px;
    white-space: nowrap;
    z-index: 100;
}

span.tooltip:hover:after {
    opacity: 1;
}

.config-table-row label.custom-toggle {
    padding-bottom: 0;
    display: grid;
    align-items: center;
    justify-content: center;
}

.config-table-row span.custom-toggle {
    position: relative;
    left: unset;
    bottom: unset;
}

label.custom-toggle {
    position: relative;
    padding-bottom: 2rem;
}

label.custom-toggle:hover {
    cursor: pointer;
}

input.custom-toggle {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

span.custom-toggle {
    position: absolute;
    bottom: 0.75rem;
    left: 0;
    height: 1rem;
    width: 2.5rem;
    background: white;
    border-radius: 0.5rem;
    border: 1px solid var(--darktheme);
    transition: 0.1s ease-in;
}

span.custom-toggle:after {
    content: '';
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    left: -0.25rem;
    bottom: calc(-0.25rem - 1px);
    background: white;
    border: 1px solid var(--darktheme);
    box-shadow: 0px 0px 0px 0px var(--darktheme);
    border-radius: 0.75rem;
    transition: 0.1s ease-in;
}

label.custom-toggle:hover span.custom-toggle:after {
    box-shadow: 0px 0px 0px 2px var(--darktheme);
}

label.custom-toggle input.custom-toggle:checked ~ span.custom-toggle {
    background: var(--darktheme);
}

label.custom-toggle input.custom-toggle:checked ~ span.custom-toggle:after {
    left: unset;
    right: -0.25rem;
}

label.custom-checkbox {
    padding-bottom: 2.25rem;
}

label.custom-checkbox:hover {
    cursor: pointer;
}

input.custom-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

span.custom-checkbox {
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    background: white;
    border-radius: 2px;
    border: 1px solid var(--darktheme);
    box-shadow: inset 0px 0px 0px 0px var(--darktheme);
    transition: 0.1s ease-in;
}

label.custom-checkbox:hover span.custom-checkbox {
    box-shadow: inset 0px 0px 0px 2px var(--darktheme);
}

label.custom-checkbox input.custom-checkbox[disabled] ~ span.custom-checkbox {
    background: var(--lightgrey);
    border: 1px solid var(--transparentgrey);
}

label.custom-checkbox:hover input.custom-checkbox[disabled] ~ span.custom-checkbox {
    box-shadow: inset 0px 0px 0px 0px var(--darktheme);
}

span.custom-checkbox:after {
    content: '✕';
    color: white;
    opacity: 0;
    transition: 0.1s ease-in;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-53%);
    font-size: 1rem;
}

label.custom-checkbox input.custom-checkbox:checked ~ span.custom-checkbox {
    background: var(--darktheme);
}

label.custom-checkbox input.custom-checkbox:checked ~ span.custom-checkbox:after {
    opacity: 1
}

.percentage-input {
    position: absolute;
    right: 0.75rem;
    bottom: 0.75rem;
    font-size: 1rem;
    pointer-events: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    background: white;
    border-radius: 4px;
    padding: 0.75rem 6ch;
    border: 1px solid var(--darktheme);
    transition: 0.1s ease-in;
    font-weight: bold;
}

button.edit-btn {
    color: var(--blue);
}

button.delete-btn {
    color: var(--red);
}

button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px 2px var(--darktheme);
}

button:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px var(--darktheme);
}

@media (max-width: 1000px) {
    span.custom-checkbox {
        bottom: 0.4rem;
    }

    .table-hidden-row form .inputs {
        grid-template-rows: auto;
        grid-template-columns: auto;
    }

    .table-hidden-row form .buttons button {
        width: 100%;
        margin-top: 16px;
        margin-left: 0;
    }

    span.tooltip:after {
        min-width: 30vw;
        white-space: unset;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: var(--transparentgrey);

    display: grid;
    align-items: center;
    justify-content: center;
}

.modal.hidden {
    display: none;
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px;
    transition: 0.1s ease-in;
}

.close-modal:hover {
    cursor: pointer;
    color: var(--red);
}

.modal-form {
    display: flex;
    flex-flow: row wrap;
    
    width: 40vw;
    padding: 5vh;
    padding-top: calc(5vh + 1rem);

    background: var(--bg);
    border-radius: 8px;
    
    border: 1px solid var(--darktheme);
    position: relative;
}

.modal-form h2 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: calc(-0.5em - 16px);
    padding: 16px;
    background: var(--bg);
    border-radius: 4px;
    border: 1px solid var(--darktheme);
    white-space: nowrap;
}

.modal-form label {
    margin-bottom: 16px;
    width: calc(50% - 8px);
}

.modal-form label:nth-child(2n) {
    margin-right: 16px;
}

.modal-form button {
    margin-top: 1.2rem;
}

@media (max-width: 1000px) {
    main {
        padding: 0 2.5vw;
    }

    .modal-form {
        width: 90vw;
        flex-flow: column nowrap;    
        max-height: 80vh;
        padding-top: 5vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .modal-form label {
        width: 100%;
        margin-right: 0px;
    }

    .modal-form h2 {
        position: relative;
        top: unset;
        left: unset;
        margin-top: unset;
        transform: unset;
        padding: 0;
        background: var(--bg);
        border-radius: 4px;
        border: none;
        white-space: unset;
    }
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading a {
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--darktheme);
    border-radius: 4px;
    color: black;
    text-decoration: none;
    background: white;
    transition: 0.1s ease-in;
    text-align: center;
    white-space: nowrap;
}

.heading a:hover {
    box-shadow: 0px 0px 0px 2px var(--darktheme);
}

.heading-links {
    display: flex;
    flex-flow: column nowrap;
    padding-top: 0.5rem;
}

#risk-calculator .inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
}

#risk-calculator .outputs {
    display: flex;
    flex-flow: row wrap;
}

#risk-calculator label {
    margin-bottom: 1.5rem;
    margin-right: 32px;
    position: relative;
}

#risk-calculator label span:nth-child(1) {
    flex-grow: 1;
}

#risk-calculator .inputs label {
    margin-right: 0px;
}

#risk-calculator input {
    margin-top: 0.25rem;
}

.calculated {
    font-size: 2rem;
}

@media (max-width: 1000px) {
    .heading {
        flex-flow: column;
        align-items: flex-start;
    }

    .heading-links {
        flex-flow: row wrap;
    }

    .heading a {
        margin-right: 0.5rem;
    }

    #risk-calculator .inputs {
        grid-template-rows: auto;
        grid-template-columns: auto;
        grid-gap: 0px;
    }
}

.config-table-row {
    position: relative;
}

.border-bottom {
    border-bottom: 1px solid var(--lightgrey);
}

.expanded-details.border-bottom {
    padding-bottom: 1.5rem;
}

#notifications {
    width: 20vw;
    position: fixed;
    left: 5vw;
    bottom: 5vw;
    display: flex;
    flex-flow: column nowrap;
}

.notification {
    background: white;
    border: 1px solid var(--darktheme);
    border-radius: 8px;
    margin-bottom: 16px;
    width: 100%;
    padding: 16px;
    transition: 0.1s ease-in;
    opacity: 1;
}

.notification.hidden {
    opacity: 0;
    transition: 0.1s ease-in;
}

.notification:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px 4px var(--darktheme);
}

@media (max-width: 1000px) {
    #notifications {
        width: 90vw;
        left: 5vw;
        bottom: 5vw;
    }
}