* {
  box-sizing: border-box;
}

:root {
  --pastel-orange: #efad8d;
  --orange: #8f4d1d;
  --pastel-green: #8dcf8d;
  --green: #1d6f1d;
  --pastel-blue: #7dadef;
  --blue: #113d7f;
  --gray1: #efefef;
  --gray2: #cfcfcf;
  --gray3: #afafaf;
}

html {
  font-family: 'Gotu', sans-serif;
  scroll-behavior: smooth;
  font-size: 1.2em;
}

h1 {
  font-size: 4em;
  margin-bottom: 1.2rem;
}

h2 {
  font-size: 3em;
  margin-bottom: 1em;
}

h3 {
  font-size: 2em;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

h5 {
  font-weight: bold;
}

p {
  font-size: 1.2em;
  line-height: 2em;
  margin-bottom: 1.2em;
}

a {
  text-decoration: none;
  color: var(--blue);
}

p a {
  text-decoration: underline;
}

p a:after {
  text-decoration: none;
  content: '🔗';
  color: inherit;
}

pre {
  background: var(--gray2);
  margin-bottom: 2em;
}

code {
  font-family: 'DM Mono', monospace;
  background: var(--gray2);
  padding: 0 0.5em;
  font-size: 1em;
  line-height: 1.2em;
}

.corny {
  font-family: 'Goblin One', serif;
  font-weight: 400;
  font-size: 0.88em;
  display: inline-block;
  padding: 0.5em;
  border-radius: 0.2em;
  background: var(--pastel-orange);
  box-shadow: 0 0.1em var(--orange);
  transition: 0.1s linear;
  line-height: 1em;
  vertical-align: middle;
  color: black;
}

.corny:hover {
  cursor: pointer;
  color: var(--blue);
  box-shadow: 0 0.15em var(--orange);
  transition: 0.1s linear;
}

header {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  background: var(--pastel-blue);
  z-index: 100;
}

nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 15%;
}

nav * {
  margin-right: 5%;
}

nav a:not(.corny) {
  border-bottom: 1px solid var(--pastel-blue);
  transition: 0.1s linear;
}

nav a:not(.corny):hover {
  cursor: pointer;
  border-bottom: 1px solid var(--blue);
  transition: 0.1s linear;
}

section {
  margin: 0 15%;
  margin-top: 5vh;
  padding-top: 150px;
  min-height: 100vh;
}

.background {
  position: fixed;
  width: 100vw;
  height: 200vh;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  z-index: -100;
}

.bg-box {
  height: 1.2em;
  margin: 0.2em;
  border-radius: 3px;
  border: 2px solid #00000012;
}

#top a {
  color: white;
}

#intro {
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
}

.example {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2em;
  grid-gap: 5%;
  align-items: flex-start;
}

.filter, .input-filter {
  z-index: 1;
  padding: 2rem;
  height: auto;
  position: sticky;
  top: 100px;
}

.filter .tag, .input-filter .input-tag {
  margin-right: 5px;
}

.filter-input {
  display: inline-block;
  padding: 0.75em;
  background: var(--gray1);
  width: 100%;
  margin-right: 5px;
  margin-bottom: 0.5em;
  border-radius: 15px;
}

.filter-input:focus {
  outline: none;
  background: var(--gray2);
}

.autocomplete {
  width: 100%;
  min-height: 2em;
  background: var(--gray3);
  padding: 0.75em;
  margin-bottom: 0.5em;
  border-radius: 15px;
}

.language-container {
  padding: 2rem;
  background: var(--gray1);
  border-radius: 15px;
}

.container, .input-container {
  display: flex;
  flex-flow: column nowrap;
}

.card, .input-card {
  padding: 2rem;
  background: var(--gray2);
  border-radius: 15px;
  margin-bottom: 15px;
}

.tag, .input-tag {
  display: inline-block;
  margin-bottom: 0.5em;
  padding: 0.6em;
  border-radius: 5px;
  background: var(--pastel-green);
  box-shadow: 0 5px var(--green);
  transition: 0.08s linear;
}

.input-tag {
  background: var(--pastel-orange);
  box-shadow: 0 5px var(--orange);
}

.tag:hover, .input-tag:hover {
  cursor: pointer;
  box-shadow: 0 7px var(--green);
  transition: 0.08s linear;
}

.input-tag:hover {
  box-shadow: 0 7px var(--orange);
}

.tag.active, .input-tag.active {
  background: var(--green);
  color: white;
}

.input-tag.active {
  background: var(--orange);
}

.param-table {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid black;
  padding: 0 2em;
  padding-bottom: 2em;
  background: var(--gray1);
  margin-bottom: 2em;
}

.param-table h4 {
  margin-top: 2rem;
}

.param-row {
  display: grid;
  grid-template-columns: 2fr 6fr;
  align-items: center;
  padding: 0.65em;
  border-bottom: 1px solid black;
}

@media (max-width: 1000px) {
  header {
    height: 150px;
  }

  nav {
    padding: 0 5%;
    font-size: 2em;
  }

  h4 {
    font-size: 1.77em;
  }

  p {
    line-height: 3em;
  }

  pre {
    font-size: 1.44em;
    overflow: scroll;
    padding-right: 3em;
  }

  section {
    margin: 0 5%;
    padding-top: 300px;
  }

  p .corny {
    font-size: 1.2em;
  }

  .example {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 2em;
    grid-gap: 2rem;
  }

  .filter, .input-filter {
    position: relative;
    top: 0px;
  }

  .tag {
    font-size: 1.6em;
    padding: 0.66em;
  }

  .bg-box {
    height: 3em;
  }

  .param-table {
    padding: 3em;
  }

  .param-table h4 {
    font-size: 3em;
  }

  .param-row {
    grid-template-columns: 1fr;
    grid-gap: 1em;
    padding-bottom: 2em;
    margin-bottom: 2em;
  }
}